
$color-1: #Ffffff;
$color-2: #606060;
$color-3: #F2F2F2;
$color-4: #e6532c;
$color-5: gray;
$color-6: #39A291;
$color-7: aqua;
$color-8: #F8AE86;
$color-9: black;

$font-size: 25px, 35px, 50px, 90px;

