
$color-1: #Ffffff;
$color-2: #606060;
$color-3: #F2F2F2;
$color-4: #e6532c;
$color-5: gray;
$color-6: #39A291;
$color-7: aqua;
$color-8: #F8AE86;
$color-9: black;

$font-size: 25px, 32px, 50px, 70px;

@mixin flex ($flex, $center, $wrap){
    display: $flex ;
    justify-content: $center;
    flex-wrap: $wrap;
}

@mixin flexdiv ($flex, $center,){
    display: flex;
    align-items: center;
    
}

%font {
    font-style:normal;
    font-weight:bold;
}